:root {
  --white: #fefefe;
  --gray: #d8d8d8;
  --beige: #f8e6c4;
  --beige-d: #d3c4a7;
  --orange: #fbae3a;
  --orange-d: #fbae3a;
  --brown-1: #b4814a;
  --brown-2: #996e3f;
  --brown-3: #513a2b;
  --brown-4: #453125;
  --shadow-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --xxs: 0.8rem;
  --xs: 1.2rem;
  --s: 1.6rem;
  --base: 2.4rem;
  --l: 3.2rem;
  --xl: 4.8rem;
  --xxl: 6.4rem;
  --roundness: 3px;
  --duration: 0.15s;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  border: 0;
  max-width: 100%;
  display: block;
}

svg {
  max-height: 100%;
  max-width: 100%;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

:focus {
  outline: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  border-radius: 0;
  background: none;
  color: inherit;
}

.link {
  color: var(--orange-d);
  text-decoration: underline;
  cursor: pointer;
}
.link:hover {
  color: var(--brown-1);
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.header {
  grid-area: header;
  color: var(--brown-3);
  background-color: var(--brown-1);
  padding: 0 var(--xs);
  height: 100%;
  display: flex;
  align-items: center;
}
.header .brand {
  margin-right: auto;
}
.header h1 {
  display: inline-block;
  font-size: var(--base);
  font-weight: normal;
}

.nav {
  position: relative;
}
.nav .toggle {
  width: var(--base);
  height: var(--base);
  cursor: pointer;
}
.nav ul {
  position: absolute;
  border-radius: var(--roundness);
  box-shadow: var(--shadow-lg);
  padding: var(--xs);
  z-index: 99;
  top: var(--l);
  right: -0.5rem;
  min-width: 15rem;
  background-color: var(--brown-4);
}
.nav ul li {
  font-size: 1.8rem;
  padding: var(--xxs);
  color: var(--beige);
  cursor: pointer;
}
.nav ul li:not(:last-child) {
  border-bottom: 1px solid var(--brown-3);
}
.nav ul li:hover {
  color: var(--orange);
  background-color: var(--brown-3);
}
.nav ul::before {
  content: "";
  position: absolute;
  top: -1rem;
  right: 0.75rem;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid var(--brown-4);
}
.nav ul .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav ul .user svg {
  color: var(--brown-1);
  width: var(--s);
  height: var(--s);
  text-align: right;
}

.rating {
  grid-area: beans;
  margin-left: var(--xs);
  border-bottom: 1px solid var(--gray);
  display: flex;
  align-items: center;
}
.rating img {
  height: var(--base);
  width: var(--base);
}
.rating img:not(:last-child) {
  margin-right: var(--xxs);
}

.restart {
  grid-area: restart;
  margin-right: var(--xs);
  border-bottom: 1px solid var(--gray);
  color: var(--brown-1);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.restart button {
  height: var(--base);
  width: var(--base);
  cursor: pointer;
}
.restart button:hover {
  color: var(--orange-d);
}

.board {
  grid-area: board;
  margin: var(--xs);
  display: flex;
  justify-content: center;
  align-items: center;
}
.board .cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: var(--s);
  grid-column-gap: var(--s);
  width: min(calc(100vw - var(--base)), calc(100vh - calc(4 * var(--xl))));
  height: min(calc(100vw - var(--base)), calc(100vh - calc(4 * var(--xl))));
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: var(--roundness);
  background: url(../images/coffee-bean.svg) no-repeat center;
  background-size: contain;
}
.card[data-bgId=n78d2ps] {
  /*    border: 4px solid #eb3b5a;*/
  background-image: url(../images/cards/card-1.svg);
}
.card[data-bgId=n8sd1p0] {
  /*    border: 4px solid #fa8231;*/
  background-image: url(../images/cards/card-2.svg);
}
.card[data-bgId=n74dfp6] {
  /*    border: 4px solid #f7b731;*/
  background-image: url(../images/cards/card-3.svg);
}
.card[data-bgId=n06d9pa] {
  /*    border: 4px solid #20bf6b;*/
  background-image: url(../images/cards/card-4.svg);
}
.card[data-bgId=n5rdmp2] {
  /*    border: 4px solid #0fb9b1;*/
  background-image: url(../images/cards/card-5.svg);
}
.card[data-bgId=n18dypr] {
  /*    border: 4px solid #2d98da;*/
  background-image: url(../images/cards/card-6.svg);
}
.card[data-bgId=n6pdipz] {
  /*    border: 4px solid #3867d6;*/
  background-image: url(../images/cards/card-7.svg);
}
.card[data-bgId=n75dnpc] {
  /*    border: 4px solid #8854d0;*/
  background-image: url(../images/cards/card-8.svg);
}

.stopwatch {
  grid-area: stopwatch;
  background-color: var(--beige-d);
  color: var(--brown-3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.stopwatch svg {
  color: var(--brown-1);
  height: var(--base);
  width: var(--base);
  margin-right: var(--xxs);
}
.stopwatch span {
  font-size: var(--base);
  line-height: var(--base);
  width: 4rem;
  margin-top: -5px;
}

.moves {
  grid-area: moves;
  background-color: var(--beige-d);
  color: var(--brown-3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.moves svg {
  color: var(--brown-1);
  height: var(--base);
  width: var(--base);
  margin-right: var(--xxs);
}
.moves span {
  font-size: var(--base);
  line-height: var(--base);
  width: 4rem;
  margin-top: -5px;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(69, 49, 37, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal-body {
  background-color: var(--white);
  padding: var(--s);
  box-shadow: var(--shadow-lg);
  border-radius: var(--roundness);
  min-width: 25rem;
  max-height: calc(100% - min(20vh, 20vw));
  max-width: min(calc(100% - min(20vh, 20vw)), 40rem);
  overflow: auto;
}
.modal .title {
  font-size: var(--l);
  color: var(--orange-d);
  font-weight: normal;
  border-bottom: 1px solid var(--gray);
  margin: 0 0 var(--xxs);
  width: 100%;
}
.modal p {
  margin: var(--xxs) 0;
}

.message {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 25rem;
}
.message .message-title,
.message .rating,
.message p {
  width: 100%;
}
.message .message-title {
  text-align: center;
  font-weight: normal;
  color: var(--orange-d);
  margin-bottom: var(--xxs);
}
.message .rating {
  padding-bottom: var(--s);
  margin: var(--xxs) auto;
  justify-content: center;
}
.message p {
  margin: var(--xxs) auto;
  text-align: center;
}
.message .moves,
.message .stopwatch {
  width: 50%;
  margin: var(--xxs) auto;
  padding: var(--xxs);
}

.login-screen {
  width: 25rem;
}
.login-screen .login,
.login-screen .sign-up {
  color: var(--brown-2);
  display: inline-block;
  width: 50%;
  text-align: center;
  font-size: var(--base);
  line-height: var(--xl);
  background-color: var(--beige);
  border: 1px solid var(--beige-d);
  margin-bottom: var(--xxs);
  cursor: pointer;
}
.login-screen .active {
  color: var(--orange-d);
  background-color: transparent;
  border-bottom: none;
  cursor: default;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.user-profile .email {
  margin: 0 auto;
  color: var(--beige-d);
  font-size: var(--s);
  font-weight: normal;
}
.user-profile .beans {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-profile .beans p {
  font-size: var(--l);
  color: var(--brown-2);
}
.user-profile .beans img {
  margin-left: var(--xxs);
  height: var(--l);
  width: auto;
}
.user-profile .delete-form {
  width: 100%;
  padding: var(--xxs) 0;
  margin: var(--xxs) 0;
  border-top: 1px solid var(--gray);
}
.user-profile .delete-form input[type=checkbox] {
  margin-right: var(--xxs);
}
.user-profile .delete-form .btn-delete {
  color: var(--brown-1);
  background-color: transparent;
  border: 2px solid var(--brown-1);
}

.leaderboard .leaderboard-list {
  counter-reset: orderedList 0;
  font-size: 1.8rem;
}
.leaderboard .leaderboard-list li {
  display: flex;
  padding: var(--xxs) 0;
  color: var(--brown-1);
}
.leaderboard .leaderboard-list li::before {
  content: counter(orderedList);
  counter-increment: orderedList 1;
  color: var(--orange-d);
  margin-right: var(--xxs);
}
.leaderboard .leaderboard-list li:not(:last-child) {
  border-bottom: 1px solid var(--beige);
}
.leaderboard .user-beans {
  margin-left: auto;
  color: var(--brown-3);
  padding-right: var(--l);
  background: url(../images/coffee-bean.svg) no-repeat center right;
  background-size: contain;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--brown-4);
  background-color: var(--white);
}

main {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, var(--xl)) 1fr var(--xl);
  grid-template-areas: "header header" "beans restart" "board board" "stopwatch moves";
}

.input, input[type=submit],
.btn, input:not([type=checkbox]) {
  width: 100%;
  height: var(--l);
  border: 1px solid var(--beige);
  border-radius: var(--roundness);
  outline: none;
  margin: var(--xs) auto;
  display: block;
  font-size: inherit;
  font-family: inherit;
  padding: var(--base) var(--s);
  color: var(--brown-2);
}
.input:focus, input[type=submit]:focus,
.btn:focus, input:focus:not([type=checkbox]) {
  border: 1px solid var(--orange-d);
}

input[type=submit],
.btn {
  color: var(--beige);
  background-color: var(--brown-4);
  font-size: var(--base);
  padding: 0;
  height: var(--xl);
  cursor: pointer;
  margin-bottom: 0;
}
input[type=submit]:hover:not(:disabled),
.btn:hover:not(:disabled) {
  color: var(--orange);
  border: 2px solid var(--orange);
  background-color: var(--brown-3);
}
input[type=submit]:disabled,
.btn:disabled {
  cursor: default;
}

#temp-cards {
  width: 0;
  height: 0;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
