@charset "UTF-8";

@import "./generic";
@import "./sass/";

@import "../js/components/Header/header";
@import "../js/components/Header/Menu/menu";
@import "../js/components/Rating/rating";
@import "../js/components/Restart/restart";
@import "../js/components/Board/Board";
@import "../js/components/Board/Card/card";
@import "../js/components/Stopwatch/stopwatch";
@import "../js/components/Moves/moves";
@import "../js/components/Modal/modal";
@import "../js/components/EndGame/endgame";
@import "../js/components/Login/login";
@import "../js/components/UserProfile/userProfile";
@import "../js/components/Leaderboard/leaderboard";

body {
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: $brown-4;
  background-color: $white;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, $xl) 1fr $xl;
  grid-template-areas:
    "header header"
    "beans restart"
    "board board"
    "stopwatch moves";
}

.input {
  width: 100%;
  height: $l;
  border: 1px solid $beige;
  border-radius: $roundness;
  outline: none;
  margin: $xs auto;
  display: block;
  font-size: inherit;
  font-family: inherit;
  padding: $base $s;
  color: $brown-2;

  &:focus {
    border: 1px solid $orange-d;
  }
}

input:not([type="checkbox"]) {
  @extend .input;
}

input[type="submit"],
.btn {
  @extend .input;
  color: $beige;
  background-color: $brown-4;
  font-size: $base;
  padding: 0;
  height: $xl;
  cursor: pointer;
  margin-bottom: 0;

  &:hover:not(:disabled) {
    color: $orange;
    border: 2px solid $orange;
    background-color: $brown-3;
  }

  &:disabled {
    cursor: default;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes enlarge {
  0% {
    max-height: 1vh;
    // width: 10vw;
  }
  99% {
    overflow: hidden;
  }
  100% {
    max-height: calc(100% - min(20vh, 20vw));
    overflow: auto;
    // width: auto;
  }
}

#temp-cards {
  width: 0;
  height: 0;
  overflow: hidden;
}
