@charset "UTF-8";

@import "./generic";
@import "./sass/";

@import "../src/components/layout/Header/header";
@import "../src/components/layout/Menu/menu";
@import "../src/components/layout/Rating/rating";
@import "../src/components/layout/Restart/restart";
@import "../src/components/layout/Board/board";
@import "../src/components/layout/Stopwatch/stopwatch";
@import "../src/components/layout/Moves/moves";
@import "../src/components/layout/Modal/modal";
@import "../src/components/layout/EndGame/endGame";
@import "../src/components/layout/LoginSignUp/loginSignUp";
@import "../src/components/layout/UserProfile/userProfile";
@import "../src/components/layout/Leaderboard/leaderboard";

body {
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: $brown-4;
  background-color: $white;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, $xl) 1fr $xl;
  grid-template-areas:
    "header header"
    "beans restart"
    "board board"
    "stopwatch moves";
}

.input {
  width: 100%;
  height: $l;
  border: 1px solid $beige;
  border-radius: $roundness;
  outline: none;
  margin: $xs auto;
  display: block;
  font-size: inherit;
  font-family: inherit;
  padding: $base $s;
  color: $brown-2;

  &:focus {
    border: 1px solid $orange-d;
  }
}

input:not([type="checkbox"]) {
  @extend .input;
}

input[type="submit"],
.btn {
  @extend .input;
  color: $beige;
  background-color: $brown-4;
  font-size: $base;
  padding: 0;
  height: $xl;
  cursor: pointer;
  margin-bottom: 0;

  &:hover:not(:disabled) {
    color: $orange;
    border: 2px solid $orange;
    background-color: $brown-3;
  }

  &:disabled {
    cursor: default;
  }
}

.error-msg::before {
  content: "*";
  color: $orange-d;
  margin-right: $xxs;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes enlarge {
  0% {
    max-height: 1vh;
    // width: 10vw;
  }
  99% {
    overflow: hidden;
  }
  100% {
    max-height: calc(100% - min(20vh, 20vw));
    overflow: auto;
    // width: auto;
  }
}

.shake {
  animation: shake 0.75s both;
}

.tada {
  animation: tada 0.75s both;
}

@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  15%,
  45%,
  75% {
    transform: translate3d(-10px, 0, 0);
  }

  30%,
  60%,
  90% {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

#temp-cards {
  width: 0;
  height: 0;
  overflow: hidden;
}
