// COLORS =================================================
$white: var(--white);
$gray: var(--gray);

$beige: var(--beige);
$beige-d: var(--beige-d);

$orange: var(--orange);
$orange-d: var(--orange-d);

$brown-1: var(--brown-1);
$brown-2: var(--brown-2);
$brown-3: var(--brown-3);
$brown-4: var(--brown-4);

// SHADOWS (https://tailwindcss.com/) =================================================
$shadow-xs: var(--shadow-xs);
$shadow-sm: var(--shadow-sm);
$shadow: var(--shadow);
$shadow-md: var(--shadow-md);
$shadow-lg: var(--shadow-lg);
$shadow-xl: var(--shadow-xl);
$shadow-2xl: var(--shadow-2xl);

// SPACING =================================================
$xxs: var(--xxs);
$xs: var(--xs);
$s: var(--s);
$base: var(--base);
$l: var(--l);
$xl: var(--xl);
$xxl: var(--xxl);

$roundness: var(--roundness);

// TIMING =================================================
$duration: var(--duration);
