.rating {
  grid-area: beans;
  margin-left: $xs;
  border-bottom: 1px solid $gray;

  display: flex;
  align-items: center;

  @include media(xl) {
    margin-left: calc(50vw - 52rem);
  }

  img {
    height: $base;
    width: $base;

    @include notLast {
      margin-right: $xxs;
    }
  }
}
