.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(69, 49, 37, 0.9);

  display: flex;
  justify-content: center;
  align-items: center;

  .modal-body {
    background-color: $white;
    padding: $base;
    box-shadow: $shadow-lg;
    border-radius: $roundness;
    max-height: calc(100% - min(20vh, 20vw));
    max-width: calc(100% - min(20vh, 20vw));
    overflow: auto;
  }
}
