.nav {
  // width: $base;
  position: relative;

  .toggle {
    width: $base;
    height: $base;
    position: relative;
    display: block;
    cursor: pointer;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      transform: scale(0);
      transform-origin: center;
      transition: transform 0.1s ease-out;

      &.active {
        transform: scale(1);
      }
    }
  }

  ul {
    position: absolute;
    border-radius: $roundness;
    box-shadow: $shadow-lg;
    padding: $xs;
    z-index: 99;
    top: $l;
    right: -0.5rem;
    min-width: 15rem;
    background-color: $brown-4;
    animation: fadeIn 0.2s ease-out;

    li {
      font-size: 1.8rem;
      padding: $xxs;
      color: $beige;
      cursor: pointer;

      @include notLast {
        border-bottom: 1px solid $brown-3;
      }

      &:hover {
        color: $orange;
        background-color: $brown-3;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: -1rem;
      right: 0.75rem;
      width: 0;
      height: 0;
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;

      border-bottom: 1rem solid $brown-4;
    }

    .user {
      display: flex;
      align-items: center;
      justify-content: space-between;

      svg {
        color: $brown-1;
        width: $s;
        height: $s;
        text-align: right;
      }
    }
  }
}
