.message {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 25rem;

  .message-title,
  .rating,
  p {
    width: 100%;
  }

  .message-title {
    text-align: center;
    font-weight: normal;
    color: $brown-1;
    margin-bottom: $xxs;
  }

  .rating {
    padding-bottom: $s;
    margin: $xxs auto;
    justify-content: center;
  }

  p {
    margin: $xxs auto;
    text-align: center;
  }

  .moves,
  .stopwatch {
    width: 50%;
    margin: $xxs auto;
    padding: $xxs;
  }
}
