.leaderboard {
  .leaderboard-list li {
    display: flex;
    justify-content: space-between;
    padding: $xxs 0;
    color: $brown-1;

    @include notLast {
      border-bottom: 1px solid $beige;
    }
  }

  .user-beans {
    color: $brown-3;
    padding-right: $l;
    background: url(../images/coffee-bean.svg) no-repeat center right;
    background-size: contain;
  }
}
