.rating {
  grid-area: beans;
  margin-left: $xs;
  border-bottom: 1px solid $gray;

  display: flex;
  align-items: center;

  img {
    height: $base;
    width: $base;
    margin-right: $xxs;
  }
}
